.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.logo {
  margin-top: 40px;
  border-radius: 100px;
  width: 115px;
  height: 115px;
  border: none;
  background-color: lightGray;
}

.login-buttons {
  margin: 40px;
}

.signUp,
.signIn {
  padding: 8px 25px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  background: #828282;
  color: #ffffff;
}

.custom-input {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 40px;
}

.custom-checkbox {
  margin-bottom: 50px;
}

.account-button {
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #c4c4c4;
  border-radius: 137px;
  border: none;
  width: 255px;
  padding: 15px;

  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #4f4f4f;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.forgot-pass {
  background: transparent;
  color: #4f4f4f;
  border: none;
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;
  margin-left: auto;
  margin-bottom: 30px;
}

.gen-username {
  margin-bottom: 20px;

  .gen-header {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 18px;
  }

  .gen-label {
    font-size: 16px;
    line-height: 24px;
  }

  .form-control {
    height: 42px;
  }

  .gen-btn {
    background: #c4c4c4;
    border-radius: 137px;
    border: none;
    width: 150px;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #4f4f4f;
    margin: 8px 0 24px 0;
  }

  .gen-pick {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #4f4f4f;
    margin-bottom: 24px;
  }
}

.about-head {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}

.about-avatar {
  width: 132px;
  height: 132px;
  margin: 10px auto;
}

.about-username {
  margin: 0 auto;
  font-size: 18px;
  line-height: 24px;
  color: #828282;
  margin-bottom: 40px;
}

.about-label {
  margin-right: 10px;
}

.dropdown-menu.show {
  min-width: 4rem;
  text-align: center;
  float: none;
}

.username-btn,
.about-topic-btn {
  background-color: transparent;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 43px;
  min-width: 120px;
  height: 40px;
  font-size: 18px;
  line-height: 24px;
  color: #828282;
  margin: 8px 15px;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: transparent;
  border: 2px solid #333333;
  color: #333333;
}

.about-pg {
  margin-bottom: 20px;
}

.complete-pg {
  display: flex;
  flex-direction: column;

  .complete-check {
    width: 148px;
    height: 148px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 55px;
  }

  .complete-text {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
}
