body {
  font-family: "Poppins";
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.App {
  margin-top: 48px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App > .Content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: #4f4f4f;
  letter-spacing: 0.01em;
}

.page {
  padding: 20px;
  margin-bottom: 80px;
}
