.color {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
  }

  .avatar-logo {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 100px;
    text-align: center;
    width: 125px;
    height: 125px;
    border: lightgray;
  }