.button {
    margin-left: 80px;
    margin-top: 30px;
    background-color: lightgray;
<<<<<<< HEAD
    border-radius: 30px; 
    text-align: center; 
=======
    border-radius: 30px;
    text-align: center;
>>>>>>> b072c36d98093f916e79d351a6267e5c99fd4370
    width: 200px;
    height: 50px;
    border: lightgray;
}

.logo {
    margin-left: 145px;
    margin-top: 10px;
    background-color: white;
<<<<<<< HEAD
    border-radius: 100px; 
    text-align: center; 
    width: 75px;
    height: 75px;
    border: lightgray; 
=======
    border-radius: 100px;
    text-align: center;
    width: 75px;
    height: 75px;
    border: lightgray;
>>>>>>> b072c36d98093f916e79d351a6267e5c99fd4370
}

.signUp {
    margin-top: 20px;
    height: 25px;
    margin-left: 115px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: x-small;
<<<<<<< HEAD

=======
>>>>>>> b072c36d98093f916e79d351a6267e5c99fd4370
}


.signIn {
    height: 25px;
    margin-top: 20px;
    font-size: x-small;
    padding-right: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
<<<<<<< HEAD
    background-color: lightgray;
    border-color: lightgray;
    color: darkgray;
    
}


=======
}

.button-pills .btn {
    border-radius: 20px;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-left: 10px;
    border: solid 1px #bbbbbb;
    background-color: #FFF;
    color: rgb(82, 82, 82);
}

.button-pills .btn .active {
     border: solid 1px black;
     background-color: rgb(20, 164, 190);
     color: #FFF;
     box-shadow: none;
}
>>>>>>> b072c36d98093f916e79d351a6267e5c99fd4370
