@import "../../../public/styles/colors.scss";

.GroupHeader {
  height: 120px;
  background-color: $background;
  display: flex;
  margin-top: 48px;
  box-sizing: border-box;
  padding: 20px;

  .GroupAvatar {
    max-height: 100%;
    border-radius: 10px;
  }

  .GroupInfo {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    color: $text;

    .GroupDescription {
      font-weight: normal;
    }
  }

  .GroupJoin {
    margin-left: auto;
    border-radius: 137px;
    font-size: 13px;
    line-height: 19px;
    border: none;
    background-color: $light-gray;
    color: $text;
    font-weight: bold;
    height: 24px;
    width: 64px;
  }
}

.GroupTopBar {
  display: flex;
  color: $text;
  margin-bottom: 16px;

  h6 {
    margin-top: 3px;
    font-weight: normal;
  }

  .GroupSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='$text' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    border: none;
    padding-right: 20px;
    font-weight: bold;
    font-size: 12;
    line-height: 14px;
    color: $text;

    option {
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: $text;
    }
  }

  .CreateBtn {
    margin-left: auto;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;

    .AddPost {
      color: $text;
    }

    &:disabled {
      .AddPost {
        color: $light-gray;
      }
    }
  }
}

.GroupThread {
  background: $background;
  border-radius: 15px;
  height: 120px;
  padding: 16px;
  margin-bottom: 16px;
  color: $text;
  text-align: left;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;

  .ThreadTime,
  .ThreadSummary,
  .ThreadAuthor {
    font-weight: normal;
  }

  .ThreadTime {
    text-align: right;
    margin-left: auto;
  }

  .ThreadSummary {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
  }

  .ThreadDetails {
    display: flex;

    .AuthorAvatar {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      border-radius: 100%;
    }
  }

  .ThreadComments {
    display: flex;
    align-items: center;
    margin-left: auto;

    h6 {
      margin-left: 6px;
      font-weight: normal;
    }
  }
}

.create-thread-header,
.group-pg-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  background: #f2f2f2;
  padding: 0 16px;

  p {
    margin: 0;
  }

  .navbar-logo {
    width: 124px;
    align-self: center !important;
  }

  .create-thread-post {
    background: #c4c4c4;
    border-radius: 137px;
    color: #4f4f4f;
    height: 24px;
    width: 60px;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    border: 2px solid transparent;

    &:hover {
      border: 2px solid #333333;
    }
  }

  .create-thread-back,
  .group-back {
    background: transparent;
    border: none;
    outline: none;
    color: #4f4f4f;
    padding: 0;
  }
}

.create-thread-form {
  .create-thread-title {
    height: 40px;
  }

  .create-thread-text {
    margin-top: 16px;
    height: 235px;
    resize: none;
  }
}
