.progressContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 16px;
}

.progressContainer::before {
    content: "";
    position: absolute;
    top: 50%;
    border-top: 1px solid #BDBDBD;
    background: #BDBDBD;
    width: calc(100% - 32px);
    transform: translateY(-50%);
    z-index: 1;
}

.progressCircle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #BDBDBD;
    z-index: 2;
}
