.PostPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;

    h1 {
        color: #FFA54D;
        padding: 10px;
    }

    input {
        width: 400px;
        height: 300px;
        margin: 20px 0px 20px 0px;
    }

    button {
        background: #FFA54D;
        border: 2px solid #FF9E40;
        box-sizing: border-box;
        border-radius: 137px;
        color: white;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 135%;
        height: 64px;
        width: 256px;
        left: 0px;
        top: 0px;
    }
}

