.profileHeader {
  height: 155px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 35px 10%;

  .profileAvatar {
    width: 86px;
    height: 86px;
    border-radius: 100px;
    margin-right: 45px;
  }

  .profileName,
  .profileStats,
  .profileDescription {
    font-size: 16px;
    line-height: 22px;
    color: #4f4f4f;
    margin-bottom: 4px;
  }

  .profileDescription {
    font-size: 12px;
    line-height: 16px;
  }

  .profileName {
    font-weight: bold;
  }
}

.profilePage {
  margin-bottom: 50px;
  h4 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .profileRightArrow {
    background-color: transparent;
    border: none;
    color: #4f4f4f;
    margin-left: auto;
  }

  .interestPill {
    border: 2px solid #4f4f4f;
    border-radius: 43px;
    padding: 6px 8px;
    margin-right: 10px;
  }

  .interestsRow,
  .subscriptionRow {
    display: flex;
    height: 100%;
    overflow-x: auto;
  }

  .subscriptionCard {
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    background: #e0e0e0;
    border-radius: 10px;
    margin-right: 15px;
  }

  .subscriptionCardImg {
    width: 120px;
    height: 120px;
    border-radius: 10px;
  }
}

.groupThreadCard {
  display: flex;
  margin-bottom: 30px;
  background: transparent;
  text-align: left;
  border: 2px solid transparent;

  .groupAvatar {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    margin-right: 8px;
  }
  .threadInfo {
    display: flex;
    margin: auto 0;
    flex-direction: column;
  }

  .threadCardTitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4f4f4f;
  }

  .threadCardSummary {
    font-size: 16px;
    line-height: 22px;
    color: #4f4f4f;
  }

  &:hover {
    background: transparent;
    box-sizing: border-box;
    border: 2px solid #333333;
  }
}

.profilePgNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  background: #f2f2f2;
  padding: 0 16px;

  .navbarLogo {
    width: 124px;
    align-self: center !important;
  }

  .profileBack {
    background: transparent;
    border: none;
    outline: none;
    color: #4f4f4f;
    padding: 0;
  }
}
