@import "../../../public/styles/colors.scss";

.ProfileHeader {
  margin-top: 48px;
  height: 155px;
  background-color: $background;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 35px;

  .ProfileAvatar {
    min-width: 86px;
    height: 86px;
    border-radius: 100px;
    margin-right: 35px;
  }

  .ProfileTitle {
    .ProfileName,
    .ProfileStats,
    .ProfileDescription {
      color: $text;
      margin-bottom: 4px;
      font-weight: normal;
    }

    .ProfileName {
      font-weight: bold;
    }
  }
}

.ProfilePage {
  margin-bottom: 50px;

  .ProfileHeading {
    font-weight: normal;
    color: $text;
  }

  .ProfileNext {
    background-color: transparent;
    border: none;
    color: $text;
    margin-left: auto;
  }

  .InterestPill {
    border: 2px solid $text;
    border-radius: 43px;
    padding: 6px 8px;
    margin-right: 10px;
    color: $text;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
  }

  .InterestsDeck,
  .SubscriptionDeck {
    display: flex;
    height: 100%;
    overflow-x: auto;
  }

  .SubscriptionCard {
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    background: $background;
    border-radius: 10px;
    margin-right: 15px;
  }

  .SubscriptionImg {
    width: 120px;
    height: 120px;
    border-radius: 10px;
  }
}

.GroupCard {
  display: flex;
  margin-bottom: 30px;
  background: transparent;
  text-align: left;
  border: 2px solid transparent;
  cursor: pointer;

  .GroupAvatar {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    margin-right: 8px;
  }
  .GroupInfo {
    display: flex;
    margin: auto 0;
    flex-direction: column;
    color: $text;

    .GroupDescription {
      font-weight: normal;
    }
  }

  &:hover {
    background: transparent;
    box-sizing: border-box;
    border: 2px solid #333333;
  }
}

.profile-pg-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  background: #f2f2f2;
  padding: 0 16px;

  .navbar-logo {
    width: 124px;
    align-self: center !important;
  }

  .profile-back {
    background: transparent;
    border: none;
    outline: none;
    color: #4f4f4f;
    padding: 0;
  }
}
