.profile-header {
  height: 155px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 35px 10%;

  .profile-avatar {
    width: 86px;
    height: 86px;
    border-radius: 100px;
    margin-right: 45px;
  }

  .profile-name,
  .profile-stats,
  .profile-description {
    font-size: 16px;
    line-height: 22px;
    color: #4f4f4f;
    margin-bottom: 4px;
  }

  .profile-description {
    font-size: 12px;
    line-height: 16px;
  }

  .profile-name {
    font-weight: bold;
  }
}

.profile-page {
  margin-bottom: 50px;
  h4 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .profile-right-arrow {
    background-color: transparent;
    border: none;
    color: #4f4f4f;
    margin-left: auto;
  }

  .interest-pill {
    border: 2px solid #4f4f4f;
    border-radius: 43px;
    padding: 6px 8px;
    margin-right: 10px;
  }

  .interests-row,
  .subscription-row {
    display: flex;
    height: 100%;
    overflow-x: auto;
  }

  .subscription-card {
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    background: #e0e0e0;
    border-radius: 10px;
    margin-right: 15px;
  }

  .subscription-card-img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
  }
}

.group-thread-card {
  display: flex;
  margin-bottom: 30px;
  background: transparent;
  border: none;
  text-align: left;
  border: 2px solid transparent;

  .group-avatar {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    margin-right: 8px;
  }
  .thread-info {
    display: flex;
    margin: auto 0;
    flex-direction: column;
  }

  .thread-card-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4f4f4f;
  }

  .thread-card-summary {
    font-size: 16px;
    line-height: 22px;
    color: #4f4f4f;
  }

  &:hover {
    background: transparent;
    box-sizing: border-box;
    border: 2px solid #333333;
  }
}

.profile-pg-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  background: #f2f2f2;
  padding: 0 16px;

  .navbar-logo {
    width: 124px;
    align-self: center !important;
  }

  .profile-back {
    background: transparent;
    border: none;
    outline: none;
    color: #4f4f4f;
    padding: 0;
  }
}
