@import "../../public/styles/colors.scss";

.Page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 80px;
}

.TopNav {
  position: fixed;
  top: 0;
  height: 48px;
  width: 100%;
  z-index: 999;
  background: $background;
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: flex;
  }

  .Back {
    border: 0;
    padding: 0;
    color: $text;
  }

  .Logo {
    width: 124px;
  }

  .Avatar {
    width: 24px;
    border-radius: 50%;
  }
}

.NextButton {
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: $light-gray;
  border-radius: 137px;
  border: none;
  width: 255px;
  padding: 15px;

  font-weight: bold;
  letter-spacing: 0.05em;
  color: $text;
}

.SmallPill {
  height: 40px;
  margin: 8px;
  padding: 0 12px;
  border: 2px solid $light-gray;
  border-radius: 43px;
  color: $gray;
  background-color: transparent;
  box-sizing: border-box;

  h2 {
    font-weight: normal;
  }
}

.ActivePill {
  border: 2px solid $gray;
}
