@import "../../public/static/colors.scss";

.Page {
  padding: 20px;
  margin-bottom: 80px;
}

.TopNav {
  position: fixed;
  top: 0;
  height: 48px;
  width: 100%;
  z-index: 999;
  background: $background;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: flex;
  }
}
