@import "../../public/styles/colors.scss";

.Page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 100px;
}

.NextButton {
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: $light-gray;
  border-radius: 137px;
  border: none;
  width: 255px;
  padding: 15px;

  font-weight: bold;
  letter-spacing: 0.05em;
  color: $text;

  &:hover {
    background-color: $text;
    color: white;
  }
}

.SmallPill {
  height: 40px;
  margin: 8px;
  padding: 0 12px;
  border: 2px solid $light-gray;
  border-radius: 43px;
  color: $gray;
  background-color: transparent;
  box-sizing: border-box;

  h2 {
    font-weight: normal;
  }

  &:hover {
    border: 2px solid $text;
    background-color: $text;
    color: white;
  }
}

.ActivePill {
  border: 2px solid $gray;
}
