.threadPage {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 100%;

  .threadHeader {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 48px;
    width: 100%;
    padding: 16px;
    background: #f2f2f2;

    .threadBtn {
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      width: 18px;
      height: 18px;
    }

    .threadBack,
    .threadSave {
      color: #333333;
    }

    .threadLabel {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
    }
  }

  .threadMain {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #fff;
  }

  .threadInfo {
    margin-top: 48px;
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 16px;

    .threadGroupAvatar {
      width: 16px;
      height: 16px;
      background: #e0e0e0;
      border-radius: 3px;
    }

    .threadGroupName {
      font-size: 12px;
      line-height: 17px;
      margin: 0;
      margin-left: 8px;
    }
  }

  .threadDetails,
  .commentDetails {
    display: flex;

    .authorAvatar {
      width: 32px;
      height: 32px;
      margin: auto 0;
      margin-right: 8px;
      border-radius: 100%;
    }

    .threadAuthor,
    .commentAuthor {
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      margin: auto 0;
    }

    .threadDate,
    .commentDate {
      font-size: 12px;
      line-height: 14px;
      margin: auto 0;
      margin-left: auto;
    }
  }

  .threadText,
  .commentText {
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
  }

  .threadName {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .threadComments {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 90px;
  }

  .commentPg {
    margin-top: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .commentReply {
    background: transparent;
    border: none;
    color: #828282;
    font-size: 13px;
    line-height: 16px;
    padding: 0;
    margin-left: auto;

    &:hover {
      background-color: transparent;
      font-weight: bold;
      color: #4f4f4f;
    }
  }

  .commentFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
    border: 1px solid #bdbdbd;
    display: flex;
    padding: 10px 0;

    .userAvatar {
      width: 32px;
      height: 32px;
      margin-top: 4px;
      border-radius: 100%;
      margin-left: 16px;
      margin-right: 10px;
    }

    .commentInput {
      width: 100%;
      margin: auto 16px 15px 0;
      padding: 10px;
      height: 40px;
      font-size: 16px;
      line-height: 22px;
      resize: none;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      border-radius: 4px;

      &:focus {
        height: 170px;
        margin-bottom: 6px;
      }
    }
  }
}
