@import "../../../public/styles/colors";

.AskPage {
  margin-top: 48px;
  margin-bottom: 100px;
  box-sizing: border-box;
  padding: 20px;

  button {
    cursor: pointer;
  }

  .TopHead {
    display: flex;

    .AskBtn {
      border-radius: 137px;
      font-size: 13px;
      line-height: 19px;
      border: none;
      background-color: $light-gray;
      color: $text;
      font-weight: bold;
      height: 32px;
      min-width: 116px;
      max-width: 116px;
      margin-right: 8px;

      &:hover {
        background-color: $text;
        color: white;
      }
    }

    .SearchBar {
      position: relative;
      height: 32px;
      width: 100%;

      input {
        box-sizing: border-box;
        padding-left: 36px;
        padding-right: 12px;
        width: 100%;
        height: 100%;
        border: 1px solid $light-gray;
        box-sizing: border-box;
        border-radius: 67px;
      }

      svg {
        position: absolute;
        left: 10px;
        top: 25%;
        transform: translateY(-50%);
      }
    }
  }

  .SecondHead {
    margin-top: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .NavBtn {
      border: none;
      padding: 0;
      background: transparent;
      color: $text;
      width: 33%;

      .SelectedNav {
        border: 2px solid $text;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 43px;
      }

      .NavItem {
        font-weight: normal;
        box-sizing: border-box;
        padding: 8px 12px;
      }
    }
  }

  .SelectedPage {
    margin-top: 18px;

    .QuestionCard:last-child {
      margin-bottom: 0;
    }
  }
}

.QuestionCard {
  width: 100%;
  max-height: 175px;
  background-color: $background;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 16px;
  cursor: pointer;

  .QuestionHeader {
    display: flex;

    .Comments,
    .CommentIcon {
      margin-top: 4px;
      color: $gray;
      font-weight: normal;
    }

    .CommentIcon {
      margin-right: 4px;
    }

    .Question {
      max-width: 280px;
    }
  }

  .Answered {
    margin-top: 14px;

    .AmbassadorInfo {
      display: flex;
      align-items: center;

      .AvatarPic {
        width: 30px;
        height: 30px;
        background-color: $light-gray;
        border-radius: 100px;
        margin-right: 12px;
      }

      .AnsweredDate {
        color: $gray;
      }
    }

    .Answer {
      margin-top: 8px;
      font-weight: normal;
    }
  }

  .Unanswered {
    margin-top: 8px;

    .AskedDate {
      color: $gray;
    }
  }
}

.QuestionPage {
  margin-top: 48px;
  margin-bottom: 77px;
  background: $background;
  display: flex;
  flex-direction: column;

  .QuestionMain {
    margin-bottom: 13px;
    background-color: white;

    .QuestionDetails {
      margin: 13px 0;
      display: flex;
      align-items: center;

      .QuestionAuthorAvatar {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        border-radius: 100%;
      }

      .QuestionAuthor,
      .QuestionDate {
        font-weight: normal;
      }

      .QuestionDate {
        margin-left: auto;
      }
    }

    .QuestionText {
      margin-bottom: 12px;
      font-weight: normal;
    }
  }

  .QuestionContent {
    margin-bottom: 20px;

    .SubHeader {
      margin-left: 16px;
      margin-bottom: 13px;
    }

    .QuestionComments {
      margin-bottom: 13px;
      background-color: white;

      .QuestionDetails {
        margin-bottom: 13px;
        display: flex;
        align-items: center;

        .QuestionAuthorAvatar {
          width: 16px;
          height: 16px;
          margin-right: 8px;
          border-radius: 100%;
        }

        .QuestionAuthor,
        .QuestionDate {
          font-weight: normal;
        }

        .QuestionDate {
          margin-left: auto;
        }
      }

      .QuestionText {
        margin-bottom: 12px;
        font-weight: normal;
      }
    }
  }

  .CommentFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $background;
    border: 1px solid $light-gray;
    display: flex;
    box-sizing: border-box;
    padding: 10px 16px;

    .UserAvatar {
      width: 32px;
      height: 32px;
      margin-top: 4px;
      margin-right: 10px;
      border-radius: 100%;
    }

    .CommentInput {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
      height: 40px;
      font-size: 16px;
      line-height: 22px;
      resize: none;
      color: $text;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid $light-gray;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }
}
