.topNavbar {
  height: 48px;
  width: 100%;
  position: fixed !important;
  top: 0;
  padding: 0 !important;
  z-index: 999;

  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 0 16px;
  }

  .nav-item {
    .navbarLogo {
      width: 124px;
      align-self: center !important;
    }

    .navbarAvatar {
      width: 24px;
      border-radius: 50%;
      align-self: flex-start;
    }
  }
}
