.page {
  margin-left: 10;
}
.button {
  margin-left: 100;
  background-color: transparent;
}

.create {
  border-color: transparent;
  background-color: lightgray;
  font-weight: bold;
  color: rgba(19, 17, 17, 0.616);
}
