@import "../../../public/static/styles/colors";

.AskPage {
  margin-bottom: 100px;
  box-sizing: border-box;
  padding: 20px;

  button {
    cursor: pointer;
  }

  .TopHead {
    display: flex;

    .AskBtn {
      border-radius: 137px;
      font-size: 13px;
      line-height: 19px;
      border: none;
      background-color: #FFA54D;
      outline-color: #FFA54D;
      outline-width: 1px;
      color: white;
      font-weight: bold;
      height: 32px;
      min-width: 116px;
      max-width: 116px;
      margin-right: 8px;

      &:hover {
        background-color: white;
        color: #FFA54D;
        border: 2px solid #FFA54D
        
      }
    }

    .SearchBar {
      position: relative;
      height: 32px;
      width: 100%;

      input {
        box-sizing: border-box;
        padding-left: 36px;
        padding-right: 12px;
        width: 100%;
        height: 100%;
        border: 1px solid $light-gray;
        box-sizing: border-box;
        border-radius: 67px;
      }

      svg {
        position: absolute;
        left: 10px;
        top: 25%;
        transform: translateY(-50%);
      }
    }
  }

  .SecondHead {
    margin-top: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .NavBtn {
      border: none;
      padding: 0;
      background: transparent;
      color: $text;
      width: 33%;

      &:disabled {
        border: 2px solid rgba(79, 79, 79, 0.5);
        background: rgba(79, 79, 79, 0.5);
        box-sizing: border-box;
        border-radius: 43px;
        color: white;
        cursor: not-allowed;
      }

      .SelectedNav {
        border: 2px solid #FFA54D;
        color: #FFA54D;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 43px;
      }

      .NavItem {
        font-weight: normal;
        box-sizing: border-box;
        padding: 8px 12px;
      }
    }
  }

  .SelectedPage {
    margin-top: 18px;

    .QuestionCard:last-child {
      margin-bottom: 0;
    }
  }
}

.QuestionCard {
  max-height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $background;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
  color: $text;

  .QuestionHeader {
    display: flex;

    .Comments,
    .CommentIcon {
      margin-top: 4px;
      color: $gray;
      font-weight: normal;
    }

    .CommentIcon {
      margin-left: auto;
      margin-right: 4px;
    }

    .Question {
      margin-right: 8px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .Answered {
    margin-top: 14px;

    .AmbassadorInfo {
      display: flex;
      align-items: center;

      .AvatarPic {
        width: 30px;
        height: 30px;
        background-color: $light-gray;
        border-radius: 100px;
        margin-right: 12px;
      }

      .AnsweredDate {
        color: $gray;
      }
    }

    .Answer {
      margin-top: 8px;
      font-weight: normal;
    }
  }

  .Unanswered {
    margin-top: 8px;

    .AskedDate {
      color: $gray;
    }
  }
}

.root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: $background;
  display: flex;
  flex-direction: column;

  > * {
    flex-shrink: 0 !important;
  }

  .NavBar {
    flex-shrink: 0;
  }

  .post {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
    background-color: white;
    padding: 20px 20px 0;

    .QuestionDetails {
      margin: 13px 0;
      display: flex;
      align-items: center;
      cursor: pointer;

      .QuestionAuthorAvatar {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .QuestionAuthor,
      .QuestionDate {
        font-weight: normal;
      }

      .QuestionDate {
        margin-left: auto;
      }
    }

    .QuestionText {
      margin-bottom: 12px;
      font-weight: normal;
    }
  }

  .QuestionAnswers {
    margin-bottom: 12px;

    .SubHeader {
      padding: 0 16px;
    }
  }

  .QuestionComments {
    flex: 1;

    .SubHeader {
      padding: 0 16px;
    }

    .AllComments {
      background-color: #f2f2f2;
    }
  }

  .CommentAuthorAvatar {
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }

  .PostButton {
    border-radius: 137px;
    font-size: 13px;
    line-height: 19px;
    border: none;
    background-color: #FFA54D;
    outline-color: #FFA54D;
    outline-width: 1px;
    color: white;
    font-weight: bold;
    height: 24px;
    min-width: 64px;
    max-width: 64px;
    margin-right: 8px;
  }

  .AuthorAvatarImg {
    width: calc(100% / 1.41);
    height: calc(100% / 1.41);
    object-fit: contain;
  }

  .CommentFooter {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $background;
    border-top: 1px solid $light-gray;
    box-sizing: border-box;
    padding: 10px 16px;
    display: flex;
    flex-direction: column;

    .Footer1 {
      display: flex;
      flex-direction: row;
      align-items: center;

      .NewCommentContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid #c4c4c4;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        margin-top: 16px;
        background-color: #ffffff;
        color: $text;
        overflow: hidden;
      }
    }
  }
}
